@charset "UTF-8";

/*

  Paleta de cores:

  #080B0D
  #192126
  #545959
  #D9D9D9
  #F2F2F2

*/

* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body, html {
  background-color: #080b0d;
  height: 100vh;
  width: 100vw;
}

main {
  position: relative;
  height: 100vh;
  width: 100vw;
  color:  white;
}

#img {
  display: block;
  background: #080b0d url(../img/pexels-alexfu-1302436.jpg) no-repeat center center ;
  background-size: cover;
  height: 200px;
}

#login {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;

  background-color: #192126;
  width: 350px;
  height: 600px;
  border-radius: 20px;
  box-shadow: 0px 0px 10px #ffffff34;

  transition: width 0.3s, height 0.3s;
  transition-timing-function: ease;
}

#form {
  padding: 20px;
  text-align: center;
}

#form h1 {
  padding-bottom: 10px;
}

#form hr {
  margin-bottom: 10px;
}

#form p {
  font-size: 0.9em;
  padding-bottom: 10px;
}

form {
  padding: 20px;
  text-align: center;
}

.campo {
  text-align: center;
  padding: 5px 0px;
  margin-bottom: 5px;
  background-color: transparent;
  color: white;
}

#icon {
  color: black;
}

.campo input {
  display: inline-block;
  background-color: transparent;
  border: none;
  padding: 5px;
  color: white;
  border-bottom: 1px solid rgb(134, 134, 134);
  outline: none;
  transition: border-color 0.3s ease-out;
  
}

.campo input:focus {
  border-bottom: 1px solid white;
}

.icon {
  display: inline-block;
  color: white;
}

input[type=submit] {
  margin: 20px auto 10px auto;
  display: block;
  font-size: 1em;
  width: 60%;

  background-color: #ca6a2c;
  border-radius: 30px;
  padding: 5px;
  color: white;
  border: none;
  cursor: pointer;
  box-shadow: 0px 0px 10px #ca6b2c6c;
  transition: 0.3s;
}

input[type=submit]:hover {
  transform: scale(1.2);
  background-color: #e78848;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: underline;
}


